.alice-blue {
  background-color: aliceblue;
}

.ol-item {
  font-weight: bold;
}

h5 {
  font-family: sans-serif;
}

.em-text {
  font-style: italic;
}

.anchor {
  text-decoration: underline;
  justify-content: center;
  text-align: center;
}

.col-img {
  width: 400px;
}

.section-container {
  align-items: center;
}

.center {
  text-align: center;
}

.dash-item {
  width: 50%;
}
